.listingContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.borders { 
    position: relative;
    transition: all .2s ease-in-out; 
    border: 2px black solid;
    background-color: white;
    }
    
    .borders:hover { 
    transform: scale(1.3); 
    z-index: 999999;
    }

.greyedOut {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
    background-color: white;
    opacity: 0.8;
    z-index: 999999;
}


.seatingContainer {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 1em;
}

.seatingContainer .seat {
    text-align: center;
    flex-basis: 0;
    padding: 1em;
}

.seatingContainer .unavailable {
    background-color: darkred;
}
.seatingContainer .free {
    background-color: lightgreen;
}
.seatingContainer .booked {
    animation: blinker 1s linear infinite;
}

@keyframes blinker {
    0% {
      background-color: lightyellow;
    }
    100% {
        background-color: yellow;
    }
  }